{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<body class="courses-page">

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Dashboard</h1>
              <p class="mb-0">This dashboard serves a centralized hub for accessing essential infomation about your courses and the 
                accompanying timetable. This user-friendly interface provides a clear overview of your enrolled courses, including their 
                respective details such as course codes, titles and lecturers. 
              </p>
{#                <a href="{% url 'add-content' %}" class="btn mt-3" style="background-color: #0e0f4bcb; color: white">Add Content</a>#}
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Dashboard</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- timetable section  -->
     <div class="container my-3" data-aos="zoom-in" data-aos-delay="200">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Course</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="2">Monday</th>
            <td>10:00AM - 1:00PM</td>
            <td>Data Science and Machine Learning</td>
          </tr>
          <tr>
              <td>2:00PM - 3:00PM</td>
              <td>Human Computer Interaction</td>
          </tr>
          <tr>
            <th>Tuesday</th>
            <td>9:00AM - 11:00AM</td>
            <td>Robotics and <br>Intelligent Systems</td>
          </tr>         
          <tr>
            <th rowspan="2">Wednesday</th>
            <td>8:00AM - 10:00AM</td>
            <td>Artificial Intelligence</td>
          </tr>
          <tr>
            <td>11:00AM - 01:00PM</td>
            <td>Information Security and System Audit</td>
          </tr>
          <tr>
            <th>Thursday</th>
            <td>---------</td>
            <td>---------</td>
          </tr>
          <tr>
            <th rowspan="2">Friday</th>
            <td>7:00AM - 8:00AM</td>
            <td>Artificial Intelligence</td>
          </tr>
          <tr>
            <td>8:00AM - 10:00AM</td>
            <td>Computer Graphics and Animations</td>
          </tr>
        </tbody>
        
      </table>
     </div>
     <!-- End timetable section  -->

    <!-- Courses Section -->
    <section id="courses" class="courses section">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="{% static 'assets/img/dss.webp' %}" class="img-fluid" alt="ethics">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Robotics and Intelligent<br> Systems</p>
                  <p class="price">INF 412</p>
                </div>

                <h3><a href="{% url 'robotics' %}">Robotics and Intelligent Systems</a></h3>
                <p class="description">
                  Decision Support and Expert Systems is all about smart tech that helps make decisions like a pro! We learn how
                    to create systems that think, analyze, and give advice—just like a human expert. It’s where data, tech, and
                    intelligence come together to solve real-life problems. 😎✨
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/Dr. James Abila.jpeg' %}" class="img-fluid" alt="Ephraim">
                    <a href="{% url 'robotics' %}" class="trainer-link">Mr. Calvin Kitaka</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="{% static 'assets/img/hci.jpg' %}" class="img-fluid" alt="green computing">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Advanced Artificial Intelligence</p>
                  <p class="price">INF 413</p>
                </div>

                <h3><a href="{% url 'artificial-intelligence' %}">Advanced Artificial Intelligence</a></h3>
                <p class="description">
                    Human-Computer Interaction explores how people interact with technology and how to design systems
                    that are user-friendly and intuitive. It’s all about creating better experiences with computers,
                    focusing on usability, design, and making tech easier to use. 🖥️🎨
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/Ms. Tabitha.png' %}" class="img-fluid" alt="tabitha">
                    <a href="{% url 'artificial-intelligence' %}" class="trainer-link">Mr. Abel Mulongo</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="{% static 'assets/img/cyber-law.jfif' %}" class="img-fluid" alt="cyber law">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Computer Graphics and Animation</p>
                  <p class="price">INF 414</p>
                </div>

                <h3><a href="{% url 'computer-graphics' %}">Computer Graphics and Animation</a></h3>
                <p class="description">
                    Cyber Law and Ethics focuses on the rules and principles that govern the digital world. It covers
                    online rights, cybercrime, data protection, and the ethical responsibilities of using technology.
                    Think of it as the law and ethics for the internet! 🌐⚖️
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/avatar.jpeg' %}" class="img-fluid" alt="Steve">
                    <a href="{% url 'computer-graphics' %}" class="trainer-link">Mr. Andreas K</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;65
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="{% static 'assets/img/cyber security.jpg' %}" class="img-fluid" alt="computer-graphics">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Computer Graphics and Animation</p>
                  <p class="price">INF 414</p>
                </div>

                <h3><a href="{% url 'network-design' %}">Network Design and Administration</a></h3>
                <p class="description">
                    Biometrics and Cyber Security dives into advanced security techniques, using unique human traits
                    like fingerprints and facial recognition to protect digital systems. It’s all about safeguarding
                    data and staying a step ahead of cyber threats! 🔐👁️‍🗨️
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/avatar.jpeg' %}" class="img-fluid" alt="Francis">
                    <a href="{% url 'network-design' %}" class="trainer-link">Mr. Alex K</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;42
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="{% static 'assets/img/cloud-computing.jpg' %}" class="img-fluid" alt="software-engineering">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Software Engineering</p>
                  <p class="price">INF 416</p>
                </div>

                <h3><a href="{% url 'software-engineering' %}">Software Engineering</a></h3>
                <p class="description">
                    Cloud Computing is about accessing and storing data and applications over the internet instead of
                    your computer’s hard drive. It’s fast, scalable, and everywhere—powering services like streaming,
                    online storage, and virtual servers. ☁️💻
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/Mr. Steve Oloo.jfif' %}" class="img-fluid" alt="limo">
                    <a href="{% url 'software-engineering' %}" class="trainer-link">Mr. Alex S</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;42
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0 mb-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="{% static 'assets/img/multimedia-animation.webp' %}" class="img-fluid" alt="Information Security and System Audit">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Information Security and System Audit</p>
                  <p class="price">INF 417</p>
                </div>

                <h3><a href="{% url 'information-security' %}">Information Security and <br>System Audit</a></h3>
                <p class="description">Multimedia Systems and Animation Technologies is all about creating engaging
                    digital content—combining text, images, audio, video, and animations. We explore tools and
                    techniques to design interactive media and bring animations to life. 🎥🎨📀</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/quinter.jpg' %}" class="img-fluid" alt="limo">
                    <a href="{% url 'information-security' %}" class="trainer-link">Mr. Limo Towett</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;42
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 mb-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="{% static 'assets/img/data science.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Informatics Project II</p>
                  <p class="price">INF 418</p>
                </div>

                <h3><a href="{% url 'informatics-project-2' %}">Informatics Project II</a></h3>
                <p class="description">
                    Data Science and Machine Learning is about using data to discover insights and build smart systems
                    that can learn and make predictions. It combines statistics, coding, and algorithms to solve
                    real-world problems with the power of data. 📊🤖
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/avatar.jpeg' %}" class="img-fluid" alt="francis">
                    <a href="{% url 'informatics-project-2' %}" class="trainer-link">Dr. Steve Oloo</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;85
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 mb-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="{% static 'assets/img/data science.jpg' %}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category">Entreprenuership and Employability</p>
                  <p class="price">BCE 413</p>
                </div>

                <h3><a href="{% url 'entreprenuership-and-employability' %}">Entreprenuership and Employability</a></h3>
                <p class="description">
                    Data Science and Machine Learning is about using data to discover insights and build smart systems
                    that can learn and make predictions. It combines statistics, coding, and algorithms to solve
                    real-world problems with the power of data. 📊🤖
                </p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="{% static 'assets/img/trainers/avatar.jpeg' %}" class="img-fluid" alt="francis">
                    <a href="{% url 'entreprenuership-and-employability' %}" class="trainer-link">Ms. Viola Owiyo</a>
                  </div>
                  <!-- <div class="trainer-rank d-flex align-items-center">
                    <i class="bi bi-person user-icon"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bi bi-heart heart-icon"></i>&nbsp;85
                  </div> -->
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>


        <div class="p-5 border rounded">
          <div class="list-group" data-aos="zoom-in" data-aos-delay="200">
          <h3><i class="bi bi-whatsapp"></i> WhatsApp Groups</h3>
          <a href="https://chat.whatsapp.com/FI4Vn0HH5J7IFjUJ0LHwqg" target="_blank" class="list-group-item list-group-item-action">Informatics News Updates</a>
          <a href="https://chat.whatsapp.com/IEJkTTCYXomAc5QoHnOcBG" target="_blank" class="list-group-item list-group-item-action">Decision Support and Expert Systems</a>
        </div>
        </div>
        

      </div>

    </section><!-- /Courses Section -->

  </main>

{% endblock %}