{% extends 'base.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block content %}

<body class="events-page">

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Events</h1>
              <p class="mb-0">Welcome to our events page! Here, you'll find information about upcoming workshops, seminars, and other exciting events related 
                to Informatics. Stay tuned for updates on guest lectures, hackathons, and industry networking opportunities. Mark your calendars and get ready 
                to engage with industry experts, fellow students, and cutting-edge technologies.
              </p>
                <a href="{% url 'add-event' %}" class="btn mt-3" style="background-color: #0e0f4bcb; color: white">Add Event</a>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Events</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container" data-aos="fade-up">

        <div class="row">
            {% for d in event %}
                  <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card">
                      <div class="card-img">
                        <img src="{{ d.image.url }}" alt="event image">
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"><a href="">{{ d.name }}</a></h5>
                        <p class="fst-italic text-center">{{ d.day }}</p>
                        <p class="card-text">{{ d.description }}</p>
                          <a class="btn btn-info" href="/update_event/{{ d.id }}">Update</a>
                          <a class="btn btn-danger" href="/delete_event/{{ d.id }}">Delete</a>
                      </div>
                    </div>
                  </div>
            {% endfor %}
        </div>

      </div>

    </section><!-- /Events Section -->

  </main>

{% endblock %}